dBaseRunner.exe
/src/build
/src/gen/__pycache__
/src/__pycache__
*.bak
*.exe
/doc/out/de
/doc/out/en
*.chm
*.pyc
src/1
doc/lib/drsktheme.jpg
doc/lib/lighthteme.jpg
doc/lib/dbase6.jpg
doc/lib/dbase5.jpg
doc/lib/dbase4.jpg
doc/lib/dbase3.jpg
doc/lib/dbase.jpg
src/dBaseRunner_patched.py
src/dBaseRunner_patched10.py
src/dBaseRunner_patched11.py
src/dBaseRunner_patched12.py
src/dBaseRunner_patched13.py
src/dBaseRunner_patched14.py
src/dBaseRunner_patched2.py
src/dBaseRunner_patched3.py
src/dBaseRunner_patched4.py
src/dBaseRunner_patched5.py
src/dBaseRunner_patched6.py
src/dBaseRunner_patched7.py
src/dBaseRunner_patched8.py
src/dBaseRunner_patched9b.py
src/dBaseRunner_patched15.py
src/dBaseRunner_patched15.py
src/dBaseRunner_patched16.py
src/dBaseRunner_patched17.py
src/dBaseRunner_patched18.py
src/dBaseRunner_patched19.py
src/dBaseRunner_patched20.py
/src/dist
src/dBaseRunner_patched21.py
src/dBaseRunner_patched22.py
src/dBaseRunner_patched23.py
src/dBaseRunner_patched24.py
src/dBaseRunner_patched25.py
src/dBaseRunner_patched26.py
src/dBaseRunner_patched27.py
src/dBaseRunner_patched27_full.py
src/dBaseRunner_patched28.py
src/dBaseRunner_patched29.py
src/dBaseRunner_patched30.py
src/dBaseRunner_patched31.py
src/dBaseRunner_patched32.py
src/dBaseRunner_patched33.py
src/dBaseRunner_patched34.py
src/dBaseRunner_patched35.py
src/dBaseRunner_patched36.py
src/dBaseRunner_patched37.py
src/dBaseRunner_patched38.py
src/dBaseRunner_patched39.py
src/dBaseRunner_patched40.py
src/dBaseRunner_patched41.py
src/dBaseRunner_patched42.py
src/dBaseRunner_patched44.py
src/dBaseRunner_patched45.py
src/dBaseRunner_patched46.py
src/dBaseRunner_patched47.py
src/dBaseRunner_patched48.py
src/dBaseRunner_patched49.py
src/dBaseRunner_patched50.py
src/dBaseRunner_patched53.py
*.mo
src/resources_rc.py
src/webengine_crash.log
src/dBaseRunner_patched51.py
src/test.dbf
src/dist/test.pro
/doc/out/light
/doc/out/dark
src/dBaseRunner_patched51.py
src/inst.bat
src/resources_rc.py
/doc/out/chm/merged_build
doc/out/chm/Table of Contents.hhc
doc/out/chm/MergedHelp.hhc
doc/out/chm/MergedHelp.hhk
doc/out/chm/MergedHelp.hhp
*.log
*.chw
src/dBaseRunner_patched52.py
src/dBaseRunner_patched54.py
src/dBaseRunner_patched55.py
src/dBaseRunner_patched56.py
src/dBaseRunner_patched57.py
src/dBaseRunner_patched58.py
src/dBaseRunner_patched59.py
src/dBaseRunner_patched60.py
src/dBaseRunner_patched61.py
src/dBaseRunner_patched62.py
src/dBaseRunner_patched64.py
src/dBaseRunner_patched65.py
src/dBaseRunner_patched51.py
src/dBaseRunner_patched70.py
src/dBaseRunner_patched72.py
src/dBaseRunner_patched73.py
src/dBaseRunner_patched74.py
src/dBaseRunner_patched76.py
src/dBaseRunner_patched77.py
src/dBaseRunner_patched51.py
src/dBaseRunner_patched80.py
src/dBaseRunner_patched79.py
src/dBaseRunner_patched79_APPEND_ONLY.py
src/dBaseRunner_patched79_BUILD_OUTPUT_FIX.py
src/dBaseRunner_patched79_CASE_EDITOR_FIX.py
src/dBaseRunner_patched79_CASE_EDITOR_FIX_v2.py
src/dBaseRunner_patched79_CASE_EDITOR_FIX_v3.py
src/dBaseRunner_patched79_CASE_EDITOR_FIX_v4.py
src/dBaseRunner_patched79_mod.py
src/dBaseRunner_patched79_PREPROCESSOR_AND_ICONTAB_FIX.py
src/dBaseRunner_patched79_PREPROCESSOR_APPEND_ONLY.py
src/dBaseRunner_patched79_PREPROCESSOR_DIRECT_FIX.py
src/regenerate_antlr.bat
/src/tests/build
tmp/*
src/dBaseRunner_1.py
src/dBaseRunner_2.py
src/dBaseRunner_3.py
src/dBaseRunner_4.py
src/dBaseRunner_4_fixed.py
src/dBaseRunner_4_fixed_v10.py
src/dBaseRunner_4_fixed_v11.py
src/dBaseRunner_4_fixed_v12.py
src/dBaseRunner_4_fixed_v13.py
src/dBaseRunner_4_fixed_v14.py
src/dBaseRunner_4_fixed_v15.py
src/dBaseRunner_4_fixed_v16.py
src/dBaseRunner_4_fixed_v17.py
src/dBaseRunner_4_fixed_v18.py
src/dBaseRunner_4_fixed_v19.py
src/dBaseRunner_4_fixed_v2.py
src/dBaseRunner_4_fixed_v20.py
src/dBaseRunner_4_fixed_v21.py
src/dBaseRunner_4_fixed_v22.py
src/dBaseRunner_4_fixed_v23.py
src/dBaseRunner_4_fixed_v24.py
src/dBaseRunner_4_fixed_v25.py
src/dBaseRunner_4_fixed_v3.py
src/dBaseRunner_4_fixed_v4.py
src/dBaseRunner_4_fixed_v5.py
src/dBaseRunner_4_fixed_v6.py
src/dBaseRunner_4_fixed_v7.py
src/dBaseRunner_4_fixed_v8.py
src/dBaseRunner_4_fixed_v9.py
src/dBaseRunner_4_fixed_v25_INPUT.py
src/dBaseRunner_v26.py
src/dBaseRunner_v27.py
src/dBaseRunner_v28.py
src/dBaseRunner_v29.py
src/dBaseRunner_v30.py
src/dBaseRunner_v31.py
src/dBaseRunner_v32.py
src/dBaseRunner_v33.py
src/dBaseRunner_v34.py
src/dBaseRunner_v35.py
src/dBaseRunner_v36.py
src/dBaseRunner_v37.py
src/dBaseRunner_v38.py
src/dBaseRunner_v39.py
src/dBaseRunner_v40.py
src/dBaseRunner_v41.py
src/dBaseRunner_v42.py
src/dBaseRunner_v43.py
src/dBaseRunner_v44.py
src/dBaseRunner_v45.py
src/dBaseRunner_v46.py
src/dBaseRunner_v47.py
src/tests/proto/protokoll_2026-03-31_14-23-04.pdf
src/tests/proto/protokoll_2026-03-31_14-37-05.pdf
src/tests/proto/protokoll_2026-03-31_14-37-24.pdf
src/tests/proto/protokoll_2026-03-31_15-03-48.pdf
src/tests/dbase_parser_input_dump.prg
src/tests/dbase_parse_input_dump.prg
src/dBaseRunner_v48.py
src/tests/proto/protokoll_2026-03-31_20-45-49.pdf
src/dBaseRunner_v49.py
src/dBaseRunner_v50.py
src/dBaseRunner_v51.py
src/dBaseRunner_v52.py
src/dBaseRunner_v53.py
src/dBaseRunner_v54.py
src/dBaseRunner_v55.py
src/dBaseRunner_v56.py
src/dBaseRunner_v57.py
src/dBaseRunner_v58.py
src/dBaseRunner_v59.py
src/dBaseRunner_v60.py
src/dBaseRunner_v61.py
src/dBaseRunner_v62.py
src/dBaseRunner_v63.py
src/dBaseRunner_v64.py
src/dBaseRunner_v65.py
src/dBaseRunner_v66.py
src/dBaseRunner_v67.py
src/tests/unbenannt.prg
src/tests/unbenannt1.prg
src/tests/unbenannt_parse_input_dump.prg
src/tests/unbenannt_parser_input_dump.prg
src/tests/proto/protokoll_2026-04-01_13-57-43.pdf
src/README_modularisierung.md
src/tests/dbase_parse_input_dump_parse_input_dump.prg
src/tests/dbase_parse_input_dump_parser_input_dump.prg
src/tests/unbenannt.cpp
packed.7z
src/sharee_.py
src/tests/proto/protokoll_2026-04-08_14-38-15.pdf
src/tests/proto/protokoll_2026-04-08_15-00-41.pdf
src/tests/proto/protokoll_2026-04-08_15-18-54.pdf
src/tests/proto/protokoll_2026-04-08_15-20-05.pdf
src/tests/proto/protokoll_2026-04-08_15-21-22.pdf
src/share/common.py.bak_20260408_154900
src/uiRunner.py.bak_20260408_154900
fix_escape_runtime.py
src/tests/proto/protokoll_2026-04-08_17-59-06.pdf
src/2
src/3
src/tests/test_parser_input_dump.prg
src/tests/test_parse_input_dump.prg
src/z
src/z1
src/z2
src/z4
src/doc/dBase2Many.hnd
src/tests/unbenannt10.prg
src/tests/unbenannt11.prg
src/tests/unbenannt2.prg
src/tests/unbenannt3.prg
src/tests/unbenannt4.prg
src/tests/unbenannt5.prg
src/tests/unbenannt6.prg
src/tests/unbenannt7.prg
src/tests/unbenannt8.prg
src/tests/unbenannt9.prg
src/Nicht bestätigt 892208.crdownload
src/tests/unbenannt12.prg
src/tests/unbenannt13.prg
src/tests/ARRAY1.google.translate
src/tests/ARRAY1.microsoft.translate
src/tests/ARRAY2.microsoft.translate
src/tests/ARRAY2.txt
src/tests/1
src/tests/prg1_parse_input_dump.prg
src/tests/prg1_parser_input_dump.prg
src/tests/dbase_parser_input_dump_parse_input_dump.prg
src/tests/dbase_parser_input_dump_parser_input_dump.prg
src/tests/unbenannt1.txt
src/tests/unbenannt2.txt
src/tests/unbenannt3.txt
src/tests/unbenannt4.txt
src/tests/unbenannt5.txt
src/tests/unbenannt6.txt
src/tests/unbenannt.txt
src/dbase_run_parse_input_dump.prg
src/dbase_run_parser_input_dump.prg
src/dbase_run.prg
src/share/editors/1
src/dbaserunner.ibk
src/share/modules/1
src/data/po/locales/de/LC_MESSAGES/dbase_de_rc.qrc
src/data/po/locales/de/LC_MESSAGES/dbase_de_rc.py
src/share/modules/2
src/share/editors/1editor.py
src/share/editors/2
src/share/modules/3
src/share/modules/c64_disasm_viewer_sync.py
src/share/modules/c64_disasm_viewer - Kopie.py
src/share/modules/1a
src/vicesnd.wav
src/data/po/locales/de/LC_MESSAGES/de_locales_rc.py
src/data/po/locales/de/LC_MESSAGES/de_locales.qrc
src/share/1
src/data/po/locales/de/LC_MESSAGES/runner_formatted.po
src/html/pascal/TPerson.pdf
src/html/pascal/TPerson.pdf
src/share/modules/4
src/share/modules/doxygen_source_editor.py
src/asmjit/libasmjit.a
src/asmjit/libasmjit.dll
src/asmjit/libasmjit.dll.a
src/asmjit/libasmjit.a
src/asmjit/testout/test3.o
*.o
src/asmjit/runtime/libdBase2Many.a
src/asmjit/runtime/dbase2many.hpp.gch
src/asmjit/runtime/libdbase2many.dll.a
src/asmjit/runtime/dbase2many.dll
src/asmjit/runtime/dbase2many.def
src/asmjit/libasmjit.def
/src/asmjit/build
/src/asmjit/dist
src/asmjit/testout/test56a.dll
src/asmjit/x64/test56a.dll
src/asmjit/x64/dbase2many.dll
src/asmjit/1
src/asmjit/runtime/win32/dbase2many.32.dll
src/asmjit/runtime/win32/libdBase2Many.32.a
src/asmjit/runtime/win32/libdbase2many.32.dll.a
src/asmjit/runtime/win32/libgcc_s_dw2-1.dll
src/asmjit/runtime/win32/libstdc++-6.dll
src/asmjit/runtime/win32/libwinpthread-1.dll
src/asmjit/runtime/win64/dbase2many.64.dll
src/asmjit/runtime/win64/libasmjit.64.a
src/asmjit/runtime/win64/libasmjit.64.dll
src/asmjit/runtime/win64/libdBase2Many.64.a
src/asmjit/runtime/win64/libdbase2many.64.dll.a
src/asmjit/runtime/win64/libstdc++-6.dll
src/asmjit/runtime/win64/libwinpthread-1.dll
src/asmjit/runtime/win32/dbase2many.32.def
src/asmjit/runtime/win64/dbase2many.64.def
src/data/locales.zip
src/data/styles.zip
src/icons/flag-icons-main.zip
src/icons/flags_resource_pack.zip
src/asmjit/runtime/win32/libdbase2many.32.dll
src/asmjit/runtime/win32/libdbase2many.32.def
src/asmjit/runtime/win32/libasmjit.32.dll.a
src/asmjit/runtime/win32/libasmjit.32.dll
src/asmjit/runtime/win32/libasmjit.32.def
src/asmjit/runtime/win32/libasmjit.32.a
src/asmjit/runtime/win64/libasmjit.64.def
src/asmjit/runtime/win64/libasmjit.64.dll.a
src/asmjit/runtime/win64/libdbase2many.64.def
src/asmjit/runtime/win64/libdbase2many.64.dll
src/asmjit/runtime/win64/libgcc_s_dw2-1.dll
src/asmjit/runtime/win64/libgcc_s_seh-1.dll
