<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <remove name="PHP via FastCGI" />
            <remove name="PHP_via_FastCGI" />
            <remove name="PHP_Scripting" />

            <add name="PHP_Scripting"
            	 path="*.php"
            	 verb="*"
            	 modules="FastCgiModule"
            	 scriptProcessor="T:\Programme\PHP_8_5_5\php-cgi.exe"
            	 resourceType="Either"
            	 requireAccess="Script" />
        </handlers>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />

            <error statusCode="400" path="/pageErrors/400.html" responseMode="ExecuteURL" />
            <error statusCode="401" path="/pageErrors/401.html" responseMode="ExecuteURL" />
            <error statusCode="403" path="/pageErrors/403.html" responseMode="ExecuteURL" />
            <error statusCode="404" path="/pageErrors/404.html" responseMode="ExecuteURL" />
            <error statusCode="500" path="/pageErrors/500.html" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument enabled="true">
            <files>
	            <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
