<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <asp scriptErrorSentToBrowser="true" />

        <handlers accessPolicy="Read, Script">
            <remove name="CGI-exe" />
            <remove name="PHP via FastCGI" />
            <remove name="PHP_via_FastCGI" />
            <remove name="PHP_Scripting" />
            <remove name="Python_CGI" />
            
            <add name="Python_CGI" path="*.py" verb="*" modules="CgiModule" scriptProcessor="T:\GitHub\dBase2Many\src\venv\Scripts\python.exe %s %s" resourceType="File" requireAccess="Script" />

            <add name="PHP_Scripting" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="T:\Programme\PHP_8_5_5\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
        </handlers>
        <httpErrors errorMode="Detailed">
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />

            <error statusCode="400" path="/pageErrors/400.html" responseMode="ExecuteURL" />
            <error statusCode="401" path="/pageErrors/401.html" responseMode="ExecuteURL" />
            <error statusCode="403" path="/pageErrors/403.html" responseMode="ExecuteURL" />
            <error statusCode="404" path="/pageErrors/404.html" responseMode="ExecuteURL" />
            <error statusCode="500" path="/pageErrors/500.html" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument enabled="true">
            <files>
	            <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="300-999" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
    <system.web>
        <roleManager enabled="true" />
    </system.web>
</configuration>
